.container
  .text-left
    %h1 Conf

.container
  = link_to(meeting_create_dashboard_index_path, title: "Zoom", class: "navbar-brand") do
    %button.btn.btn-success Créer une Réunion
  %br
  %br
  .infinite-table.text-left
    %table.table.table-striped
      %tr
        %td Id
        %td Heure de Début
        %td Durée de la Réunion
        %td Rejoindre
        %td Supprimer

      - @meeting_list['meetings'].each do |meeting|
        %tr
          %td
            = meeting['id']
          %td
            = meeting['start_time'].to_datetime.strftime("%d/%m/%Y %Hh%Mmin%Ss")
          %td
            = meeting['duration']
          %td
            = link_to("#{meeting['join_url']}", title: "Zoom", target: "_blank", class: "navbar-brand") do
              %button.btn.btn-primary Rejoindre
          %td
            = link_to(meeting_delete_dashboard_path(meeting['id']), title: "Delete Zoom", class: "navbar-brand") do
              %button.btn.btn-danger Supprimer
      - end.empty? and begin
        %tr
          %td{colspan: "5"}
            .text-center
              Veuillez créer une réunion pour affichez les réunions en cours
