.container.devise-passwords
  .text-left
    %h1
      Mots de passe oublié ?
    %br
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification
      .form-inputs
        = f.button :submit, :value => "Réinitialiser", class: "menu-button"
        &nbsp;&nbsp;
        ou
        &nbsp;
        = link_to "Retour", :back, class: "back"
        %br
        %br
        = f.input :email, required: true, autofocus: true, label: "Email :"
