.container.admin
  = simple_form_for @user, url: admin_users_path , method: :post do |f|
    .text-left
      %h1 Ajouter un client
      %br
      = f.button :submit, :value => "Valider", class: "menu-button"
      &nbsp;&nbsp;
      ou
      &nbsp;
      = link_to "Retour", :back, class: "back"
      %br/
      %br/
      = f.input :email, label: "Email :", autofocus: true
      = f.input :password, label: "Mots de passe :"
