- if user_signed_in?
  %nav.navbar.navbar-expand-md.navbar-light.bg-light
    = link_to('/dashboard', title: "Actu", class: "navbar-brand") do
      %i.fas.fa-ad.fa-2x
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item{:class => current_page?(dashboard_index_path) && 'active'}
          = link_to 'Actu', dashboard_index_path, title: "Actu", class: "nav-link"
        %li.nav-item{ :class => current_page?(conf_dashboard_index_path) && 'active'}
          = link_to 'Conf', conf_dashboard_index_path, title: "Conf", class: "nav-link"
      %span.navbar-text
        %a{class: "dropdown-header", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %h4
            = current_user.email
        %ul.dropdown-menu
          %li
            = link_to "Mes informations", edit_user_registration_path
          %li.divider{:role => "separator"}
          %li
            = link_to "Déconnexion", destroy_user_session_path, method: :delete

- else
  %nav.navbar.navbar-expand-md.navbar-light.bg-light
    = link_to('/', title: "home", class: "navbar-brand") do
      %i.fas.fa-ad.fa-2x
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item{:class => current_page?(admin_users_path) && 'active'}
          = link_to 'Admin', admin_users_path, title: "Admin", class: "nav-link"


:javascript
  $(document).ready(function(){
    $('.dropdown-header').dropdown()
  });
